
<!doctype html>
<html lang="es">
  <head>
    <title>Zype app</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content=""> 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> 
 
  </head>
 
  <body>
     <%= render "layouts/shared/topbar" %>
     <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="main-grids">
        <%= yield %>
      </div>
     </div>
     <%= render "layouts/shared/sidebar" %>
  </body>
</html>